[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
biopython = "*"

[dev-packages]
pytest = "==7.2.0"

[requires]
python_version = "3.9"

[scripts]
test = "pytest"
kara = "echo 'kara'"
